# Databases
.postgresql/
*.sqlite3

# Environments
env/
venv/

# Python cache
__pycache__/

# PyCharm
.idea/

# Docker
Dockerfile
docker-compose.yml

# Readme
README.md

# Poetry
poetry.lock
pyproject.toml
